<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.mapper.UserBetMapper">

    <resultMap id="BaseResultMap" type="com.lottery.entity.UserBet">
        <id     column="id"              property="id"/>
        <result column="lottery_type"    property="lotteryType"/>
        <result column="bet_type"        property="betType"/>
        <result column="dan_numbers"     property="danNumbers"/>
        <result column="tuo_numbers"     property="tuoNumbers"/>
        <result column="main_numbers"    property="mainNumbers"/>
        <result column="extra_numbers"   property="extraNumbers"/>
        <result column="combination_cnt" property="combinationCnt"/>
        <result column="is_matched"      property="isMatched"/>
        <result column="match_issue"     property="matchIssue"/>
        <result column="match_level"     property="matchLevel"/>
        <result column="match_prize"     property="matchPrize"/>
        <result column="created_at"      property="createdAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, lottery_type, bet_type, dan_numbers, tuo_numbers, main_numbers, extra_numbers,
        combination_cnt, is_matched, match_issue, match_level, match_prize, created_at
    </sql>

    <insert id="insert" parameterType="com.lottery.entity.UserBet" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_bet (lottery_type, bet_type, dan_numbers, tuo_numbers, main_numbers, extra_numbers,
                              combination_cnt, is_matched, match_issue, match_level, match_prize)
        VALUES (#{lotteryType}, #{betType}, #{danNumbers}, #{tuoNumbers}, #{mainNumbers}, #{extraNumbers},
                #{combinationCnt}, #{isMatched}, #{matchIssue}, #{matchLevel}, #{matchPrize})
    </insert>

    <update id="updateById" parameterType="com.lottery.entity.UserBet">
        UPDATE user_bet
        <set>
            <if test="lotteryType != null">lottery_type = #{lotteryType},</if>
            <if test="isMatched != null">is_matched = #{isMatched},</if>
            <if test="matchIssue != null">match_issue = #{matchIssue},</if>
            <if test="matchLevel != null">match_level = #{matchLevel},</if>
            <if test="matchPrize != null">match_prize = #{matchPrize}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">DELETE FROM user_bet WHERE id = #{id}</delete>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM user_bet WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user_bet
        <where>
            <if test="lotteryType != null and lotteryType != ''">AND lottery_type = #{lotteryType}</if>
            <if test="betType != null and betType != ''">AND bet_type = #{betType}</if>
            <if test="isMatched != null">AND is_matched = #{isMatched}</if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">LIMIT #{offset}, #{limit}</if>
    </select>

    <select id="selectCount" resultType="long">
        SELECT COUNT(1) FROM user_bet
        <where>
            <if test="lotteryType != null and lotteryType != ''">AND lottery_type = #{lotteryType}</if>
            <if test="betType != null and betType != ''">AND bet_type = #{betType}</if>
            <if test="isMatched != null">AND is_matched = #{isMatched}</if>
        </where>
    </select>
</mapper>
